"""
Dashboard Modal Components

Reusable modal dialogs for displaying detailed component information.
Each modal inherits from ft.AlertDialog and uses component composition.
"""

{%- if cookiecutter.include_ai == "yes" %}
from .ai_modal import AIDetailDialog
{%- endif %}
{%- if cookiecutter.include_auth == "yes" %}
from .auth_modal import AuthDetailDialog
{%- endif %}
from .backend_modal import BackendDetailDialog
{%- if cookiecutter.include_comms == "yes" %}
from .comms_modal import CommsDetailDialog
{%- endif %}
{%- if cookiecutter.include_database == "yes" %}
from .database_modal import DatabaseDetailDialog
{%- endif %}
from .frontend_modal import FrontendDetailDialog
{%- if cookiecutter.include_redis == "yes" %}
from .redis_modal import RedisDetailDialog
{%- endif %}
{%- if cookiecutter.include_scheduler == "yes" %}
from .scheduler_modal import SchedulerDetailDialog
{%- endif %}
{%- if cookiecutter.include_worker == "yes" %}
from .worker_modal import WorkerDetailDialog
{%- endif %}

__all__ = [
    {%- if cookiecutter.include_ai == "yes" %}
    "AIDetailDialog",
    {%- endif %}
    {%- if cookiecutter.include_auth == "yes" %}
    "AuthDetailDialog",
    {%- endif %}
    "BackendDetailDialog",
    {%- if cookiecutter.include_comms == "yes" %}
    "CommsDetailDialog",
    {%- endif %}
    {%- if cookiecutter.include_database == "yes" %}
    "DatabaseDetailDialog",
    {%- endif %}
    "FrontendDetailDialog",
    {%- if cookiecutter.include_redis == "yes" %}
    "RedisDetailDialog",
    {%- endif %}
    {%- if cookiecutter.include_scheduler == "yes" %}
    "SchedulerDetailDialog",
    {%- endif %}
    {%- if cookiecutter.include_worker == "yes" %}
    "WorkerDetailDialog",
    {%- endif %}
]
